#Setup & Import

In [ ]:
pathName      = "/content/drive/My Drive/" 
pathNameData  = pathName + "Datasets/" 
pathNameTrain = pathName + "DataTrain/"
prefix        = '_2022_'

In [ ]:
import tensorflow as tf
from tensorflow.keras.layers import Dense, LSTM, GRU, Embedding, Bidirectional, Input
from tensorflow.keras.models import Sequential, Model
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.utils import to_categorical

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

#NER

In [ ]:
df = pd.read_csv(pathNameData + 'ner.csv', encoding = "ISO-8859-1", error_bad_lines=False, index_col=0)

b'Skipping line 281837: expected 25 fields, saw 34\n'
/usr/local/lib/python3.7/dist-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [ ]:
df.describe()

       sentence_idx
count  1.050794e+06
mean   1.898184e+04
std    1.576237e+04
min    1.000000e+00
25%    5.997000e+03
50%    1.201700e+04
75%    3.592600e+04
max    4.795900e+04

In [ ]:
df = df.drop_duplicates()

In [ ]:
df.describe()

        sentence_idx
count  768955.000000
mean    23580.065651
std     15986.777037
min         1.000000
25%      8806.000000
50%     17579.000000
75%     39135.000000
max     47959.000000

In [ ]:
df.head(30)

       lemma next-lemma next-next-lemma  ...        shape           word    tag
0   thousand         of        demonstr  ...  capitalized      Thousands      O
1         of   demonstr            have  ...    lowercase             of      O
2   demonstr       have           march  ...    lowercase  demonstrators      O
3       have      march         through  ...    lowercase           have      O
4      march    through          london  ...    lowercase        marched      O
5    through     london              to  ...    lowercase        through      O
6     london         to         protest  ...  capitalized         London  B-geo
7         to    protest             the  ...    lowercase             to      O
8    protest        the             war  ...    lowercase        protest      O
9        the        war              in  ...    lowercase            the      O
10       war         in            iraq  ...    lowercase            war      O
11        in       iraq             and  ...    lowercase             in      O
12      iraq        and          demand  ...  capitalized           Iraq  B-geo
13       and     demand             the  ...    lowercase            and      O
14    demand        the        withdraw  ...    lowercase         demand      O
15       the   withdraw              of  ...    lowercase            the      O
16  withdraw         of         british  ...    lowercase     withdrawal      O
17        of    british           troop  ...    lowercase             of      O
18   british      troop            from  ...  capitalized        British  B-gpe
19     troop       from            that  ...    lowercase         troops      O
20      from       that         countri  ...    lowercase           from      O
21      that    countri               .  ...    lowercase           that      O
22   countri          .        __end1__  ...    lowercase        country      O
23         .   __end1__        __end2__  ...        punct              .      O
24    famili         of         soldier  ...  capitalized       Families      O
25        of    soldier            kill  ...    lowercase             of      O
26   soldier       kill              in  ...    lowercase       soldiers      O
27      kill         in             the  ...    lowercase         killed      O
28        in        the        conflict  ...    lowercase             in      O
29       the   conflict            join  ...    lowercase            the      O

[30 rows x 24 columns]

In [ ]:
df = df[['sentence_idx', 'word','tag']]

In [ ]:
df.head(25)

    sentence_idx           word    tag
0            1.0      Thousands      O
1            1.0             of      O
2            1.0  demonstrators      O
3            1.0           have      O
4            1.0        marched      O
5            1.0        through      O
6            1.0         London  B-geo
7            1.0             to      O
8            1.0        protest      O
9            1.0            the      O
10           1.0            war      O
11           1.0             in      O
12           1.0           Iraq  B-geo
13           1.0            and      O
14           1.0         demand      O
15           1.0            the      O
16           1.0     withdrawal      O
17           1.0             of      O
18           1.0        British  B-gpe
19           1.0         troops      O
20           1.0           from      O
21           1.0           that      O
22           1.0        country      O
23           1.0              .      O
24           2.0       Families      O

In [ ]:
df.describe()

        sentence_idx
count  768955.000000
mean    23580.065651
std     15986.777037
min         1.000000
25%      8806.000000
50%     17579.000000
75%     39135.000000
max     47959.000000

In [ ]:
max_idx = int(df.sentence_idx.max())
max_idx

47959

In [ ]:
df.loc[df['sentence_idx']==1, 'word']

0         Thousands
1                of
2     demonstrators
3              have
4           marched
5           through
6            London
7                to
8           protest
9               the
10              war
11               in
12             Iraq
13              and
14           demand
15              the
16       withdrawal
17               of
18          British
19           troops
20             from
21             that
22          country
23                .
Name: word, dtype: object

In [ ]:
sequences = []
tags = []

In [ ]:
%%time
for i in range(1, max_idx+1):
  sequences.append(df.loc[df['sentence_idx']==i, 'word'].values.tolist())
  tags.append(df.loc[df['sentence_idx']==i, 'tag'].values.tolist())

CPU times: user 3min 34s, sys: 5.58 s, total: 3min 40s
Wall time: 2min 32s

In [ ]:
print(sequences[0])
print(tags[0])

['Thousands', 'of', 'demonstrators', 'have', 'marched', 'through', 'London', 'to', 'protest', 'the', 'war', 'in', 'Iraq', 'and', 'demand', 'the', 'withdrawal', 'of', 'British', 'troops', 'from', 'that', 'country', '.']
['O', 'O', 'O', 'O', 'O', 'O', 'B-geo', 'O', 'O', 'O', 'O', 'O', 'B-geo', 'O', 'O', 'O', 'O', 'O', 'B-gpe', 'O', 'O', 'O', 'O', 'O']

In [ ]:
print(sequences[1])
print(tags[1])

['Families', 'of', 'soldiers', 'killed', 'in', 'the', 'conflict', 'joined', 'the', 'protesters', 'who', 'carried', 'banners', 'with', 'such', 'slogans', 'as', '"', 'Bush', 'Number', 'One', 'Terrorist', '"', 'and', '"', 'Stop', 'the', 'Bombings', '.', '"']
['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-per', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']

In [ ]:
print(sequences[2])
print(tags[2])

['They', 'marched', 'from', 'the', 'Houses', 'of', 'Parliament', 'to', 'a', 'rally', 'in', 'Hyde', 'Park', '.']
['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-geo', 'I-geo', 'O']

:  -

In [ ]:
sequences_ = [' '.join(sequence) for sequence in sequences]

In [ ]:
sequences_[0]

'Thousands of demonstrators have marched through London to protest the war in Iraq and demand the withdrawal of British troops from that country .'

In [ ]:
num_words = 5000
sent_len = 20
tokenizer = Tokenizer(num_words)

In [ ]:
tokenizer.fit_on_texts(sequences_)

In [ ]:
tokenizer.index_word

{1: 'the',
 2: 'in',
 3: 'of',
 4: 'to',
 5: 'a',
 6: 'and',
 7: "'s",
 8: 'for',
 9: 'has',
 10: 'on',
 11: 'is',
 12: 'that',
 13: 'have',
 14: 'u',
 15: 'with',
 16: 'said',
 17: 'was',
 18: 'at',
 19: 'says',
 20: 's',
 21: 'from',
 22: 'by',
 23: 'he',
 24: 'an',
 25: 'as',
 26: 'say',
 27: 'it',
 28: 'are',
 29: 'were',
 30: 'his',
 31: 'officials',
 32: 'president',
 33: 'will',
 34: 'government',
 35: 'mr',
 36: 'two',
 37: 'been',
 38: 'killed',
 39: 'people',
 40: 'not',
 41: 'after',
 42: 'its',
 43: 'but',
 44: 'be',
 45: 'they',
 46: 'more',
 47: 'also',
 48: 'year',
 49: 'new',
 50: 'united',
 51: 'military',
 52: 'last',
 53: 'who',
 54: 'country',
 55: 'police',
 56: 'than',
 57: 'one',
 58: 'minister',
 59: 'iraq',
 60: 'their',
 61: 'security',
 62: 'which',
 63: 'this',
 64: 'about',
 65: 'other',
 66: 'states',
 67: 'had',
 68: 'least',
 69: 'state',
 70: 'three',
 71: 'tuesday',
 72: 'group',
 73: 'iran',
 74: 'forces',
 75: 'week',
 76: 'world',
 77: 'since',
 78: 'thursday',
 79: 'over',
 80: 'monday',
 81: 'friday',
 82: 'against',
 83: 'wednesday',
 84: 'al',
 85: 'sunday',
 86: 'oil',
 87: 'when',
 88: '000',
 89: 'during',
 90: 'authorities',
 91: 'troops',
 92: 'iraqi',
 93: 'saturday',
 94: 'nuclear',
 95: 'into',
 96: 'would',
 97: 'month',
 98: 'city',
 99: 'attacks',
 100: 'foreign',
 101: 'first',
 102: 'some',
 103: 'israeli',
 104: 'palestinian',
 105: 'prime',
 106: 'militants',
 107: 'international',
 108: 'up',
 109: 'out',
 110: 'between',
 111: 'afghanistan',
 112: 'talks',
 113: 'called',
 114: 'years',
 115: 'former',
 116: 'south',
 117: 'nations',
 118: 'no',
 119: 'bush',
 120: 'attack',
 121: 'israel',
 122: 'war',
 123: 'china',
 124: 'province',
 125: 'n',
 126: 'near',
 127: 'pakistan',
 128: 'day',
 129: 'north',
 130: 'region',
 131: 'several',
 132: 'or',
 133: 'leader',
 134: 'four',
 135: 'party',
 136: 'southern',
 137: 'countries',
 138: 'afghan',
 139: 'million',
 140: 'there',
 141: 'report',
 142: 'earlier',
 143: 'soldiers',
 144: 'including',
 145: 'could',
 146: 'all',
 147: 'violence',
 148: 'agency',
 149: 'saying',
 150: 'baghdad',
 151: 'national',
 152: 'reports',
 153: 'election',
 154: 'elections',
 155: 'under',
 156: '1',
 157: 'if',
 158: 'news',
 159: 'wounded',
 160: 'leaders',
 161: 'court',
 162: 'capital',
 163: 'general',
 164: 'statement',
 165: 'official',
 166: 'american',
 167: 'economic',
 168: 'european',
 169: 'before',
 170: 'bomb',
 171: 'spokesman',
 172: 'rebels',
 173: 'political',
 174: 'made',
 175: 'members',
 176: 'five',
 177: 'union',
 178: 'told',
 179: 'percent',
 180: 'border',
 181: 'him',
 182: 'may',
 183: 'british',
 184: 'part',
 185: 'peace',
 186: 'where',
 187: 'most',
 188: 'others',
 189: 'while',
 190: 'her',
 191: 'next',
 192: 'program',
 193: 'russia',
 194: 'six',
 195: 'fighting',
 196: 'led',
 197: 'rights',
 198: 'them',
 199: 'meeting',
 200: 'another',
 201: 'time',
 202: 'taleban',
 203: 'killing',
 204: 'expected',
 205: 'because',
 206: 'held',
 207: 'many',
 208: 'house',
 209: 'what',
 210: 'health',
 211: 'northern',
 212: 'ministry',
 213: 'russian',
 214: 'gaza',
 215: 'died',
 216: 'those',
 217: 'human',
 218: 'late',
 219: '10',
 220: 'weapons',
 221: 'opposition',
 222: 'western',
 223: 'economy',
 224: 'washington',
 225: 'off',
 226: 'being',
 227: 'recent',
 228: 'she',
 229: 'insurgents',
 230: 'india',
 231: 'high',
 232: 'days',
 233: 'suspected',
 234: 'can',
 235: 'down',
 236: 'flu',
 237: 'released',
 238: 'top',
 239: 'secretary',
 240: 'later',
 241: 'army',
 242: 'help',
 243: 'any',
 244: 'old',
 245: 'defense',
 246: 'nato',
 247: 'parliament',
 248: 'through',
 249: 'council',
 250: 'groups',
 251: 'korea',
 252: 'men',
 253: 'power',
 254: 'town',
 255: 'accused',
 256: 'death',
 257: 'nearly',
 258: 'only',
 259: 'announced',
 260: 'found',
 261: 'west',
 262: 'thousands',
 263: 'vote',
 264: 'bird',
 265: 'militant',
 266: 'arrested',
 267: 'early',
 268: 'end',
 269: 'area',
 270: 'coalition',
 271: 'aid',
 272: 'meanwhile',
 273: 'pakistani',
 274: 'following',
 275: 'central',
 276: 'support',
 277: 'chief',
 278: 'set',
 279: 'number',
 280: 'organization',
 281: 'qaida',
 282: 'african',
 283: 'both',
 284: 'second',
 285: '2',
 286: 'bank',
 287: 'charges',
 288: 'visit',
 289: 'trade',
 290: 'reported',
 291: 'iranian',
 292: 'plan',
 293: 'energy',
 294: 'months',
 295: 'force',
 296: 'among',
 297: 'hamas',
 298: 'chinese',
 299: 'islamic',
 300: 'man',
 301: 'fire',
 302: 'agreement',
 303: 'began',
 304: 'home',
 305: 'take',
 306: 'car',
 307: 'efforts',
 308: 'such',
 309: 'french',
 310: '20',
 311: 'did',
 312: 'took',
 313: "'",
 314: 'suicide',
 315: 'local',
 316: 'major',
 317: 'company',
 318: 'prices',
 319: 'east',
 320: 'based',
 321: 'workers',
 322: 'still',
 323: 'long',
 324: 'should',
 325: 'turkey',
 326: 'came',
 327: 'nation',
 328: 'eastern',
 329: 'media',
 330: 'eu',
 331: 'terrorist',
 332: 'sudan',
 333: 'now',
 334: 'food',
 335: 'presidential',
 336: 'muslim',
 337: '30',
 338: 'plans',
 339: 'department',
 340: 'january',
 341: 'public',
 342: 'member',
 343: 'used',
 344: '5',
 345: 'so',
 346: 'place',
 347: 'work',
 348: 'tehran',
 349: 'seven',
 350: 'indian',
 351: 'democratic',
 352: 'hit',
 353: 'newspaper',
 354: 'left',
 355: 'billion',
 356: 'past',
 357: '15',
 358: '3',
 359: "shi'ite",
 360: 'anti',
 361: 'until',
 362: 'dead',
 363: 'deal',
 364: 'control',
 365: 'venezuela',
 366: 'ago',
 367: 'detained',
 368: 'africa',
 369: 'darfur',
 370: 'weeks',
 371: 'chavez',
 372: 'meet',
 373: 'britain',
 374: 'japan',
 375: 'met',
 376: 'known',
 377: 'make',
 378: 'prison',
 379: 'reporters',
 380: 'rebel',
 381: 'well',
 382: 'growth',
 383: 'september',
 384: '2003',
 385: 'white',
 386: 'gas',
 387: 'blast',
 388: 'march',
 389: '11',
 390: 'office',
 391: 'france',
 392: 'head',
 393: 'civilians',
 394: 'run',
 395: 'scheduled',
 396: 'gunmen',
 397: 'eight',
 398: 'confirmed',
 399: 'burma',
 400: 'stop',
 401: 'around',
 402: 'just',
 403: 'agreed',
 404: 'television',
 405: 'along',
 406: 'outside',
 407: 'virus',
 408: 'release',
 409: 'large',
 410: 'areas',
 411: 'third',
 412: 'children',
 413: 'global',
 414: 'beijing',
 415: 'terrorism',
 416: 'december',
 417: 'signed',
 418: 'lebanon',
 419: 'island',
 420: 'administration',
 421: 'across',
 422: 'suspects',
 423: 'development',
 424: 'free',
 425: 'continue',
 426: 'information',
 427: 'claimed',
 428: 'london',
 429: 'system',
 430: 'women',
 431: 'largest',
 432: '12',
 433: 'without',
 434: 'separate',
 435: 'july',
 436: 'key',
 437: 'use',
 438: 'issued',
 439: 'coast',
 440: 'do',
 441: 'lawmakers',
 442: 'law',
 443: 'hundreds',
 444: 'officers',
 445: 'operations',
 446: 'victims',
 447: 'main',
 448: 'possible',
 449: 'syria',
 450: 'protests',
 451: 'parliamentary',
 452: 'november',
 453: 'financial',
 454: 'intelligence',
 455: 'back',
 456: 'independence',
 457: 'calls',
 458: 'shot',
 459: 'trial',
 460: 'europe',
 461: 'trying',
 462: 'team',
 463: 'then',
 464: 'kilometers',
 465: 'include',
 466: 'discuss',
 467: 'taliban',
 468: 'germany',
 469: 'republic',
 470: 'urged',
 471: '7',
 472: 'york',
 473: 'must',
 474: 'drug',
 475: 'responsibility',
 476: 'strip',
 477: 'hold',
 478: 'however',
 479: 'incident',
 480: '25',
 481: 'korean',
 482: 'conflict',
 483: 'aimed',
 484: 'commission',
 485: 'final',
 486: 'service',
 487: 'obama',
 488: 'hurricane',
 489: 'sanctions',
 490: '50',
 491: 'term',
 492: 'soldier',
 493: 'series',
 494: 'post',
 495: 'taken',
 496: 'return',
 497: 'february',
 498: 'bombings',
 499: 'fired',
 500: 'abbas',
 501: 'center',
 502: 'egypt',
 503: 'ahead',
 504: 'won',
 505: 'operation',
 506: 'despite',
 507: 'conference',
 508: 'somalia',
 509: 'decision',
 510: 'june',
 511: 'pro',
 512: 'today',
 513: 'small',
 514: '2004',
 515: 'august',
 516: 'civil',
 517: 'air',
 518: 'mahmoud',
 519: 'investigation',
 520: 'alleged',
 521: 'mission',
 522: 'prisoners',
 523: 'protest',
 524: 'summit',
 525: 'injured',
 526: 'case',
 527: 'fuel',
 528: 'hospital',
 529: 'how',
 530: 'move',
 531: 'constitution',
 532: 'roadside',
 533: 'market',
 534: 'arab',
 535: '4',
 536: 'kurdish',
 537: 'voa',
 538: 'venezuelan',
 539: 'congress',
 540: 'press',
 541: 'same',
 542: '8',
 543: 'october',
 544: 'deadly',
 545: 'relations',
 546: 'remain',
 547: 'senior',
 548: '00',
 549: 'comes',
 550: 'armed',
 551: 'much',
 552: 'latest',
 553: 'increase',
 554: 'kidnapped',
 555: '2001',
 556: 'recently',
 557: 'approved',
 558: 'syrian',
 559: 'denied',
 560: 'close',
 561: '40',
 562: 'whether',
 563: 'record',
 564: 'saudi',
 565: 'production',
 566: 'ruling',
 567: 'john',
 568: 'middle',
 569: 'effort',
 570: 'each',
 571: 'campaign',
 572: 'explosion',
 573: 'carried',
 574: 'process',
 575: 'palestinians',
 576: 'crimes',
 577: 'you',
 578: 'turkish',
 579: 'cut',
 580: 'bombing',
 581: 'district',
 582: 'hours',
 583: 'working',
 584: 'storm',
 585: 'money',
 586: 'asia',
 587: '2008',
 588: 'face',
 589: 'lebanese',
 590: 'indonesia',
 591: 'cases',
 592: 'show',
 593: 'way',
 594: 'german',
 595: 'clear',
 596: 'building',
 597: 'site',
 598: 'companies',
 599: 'crisis',
 600: 'fighters',
 601: 'ordered',
 602: 'base',
 603: 'demand',
 604: 'moscow',
 605: 'opened',
 606: 'federal',
 607: 'allow',
 608: 'half',
 609: 'strike',
 610: 'rejected',
 611: 'corruption',
 612: 'warned',
 613: 'remains',
 614: 'rice',
 615: 'majority',
 616: 'calling',
 617: 'democracy',
 618: '100',
 619: 'emergency',
 620: 'cuba',
 621: 'committee',
 622: 'bill',
 623: 'bomber',
 624: '6',
 625: 'failed',
 626: 'embassy',
 627: 'results',
 628: 'pope',
 629: 'attacked',
 630: '13',
 631: 'mexico',
 632: 'does',
 633: 'deaths',
 634: 'h5n1',
 635: 'caused',
 636: 'increased',
 637: 'sunni',
 638: 'i',
 639: 'captured',
 640: 'future',
 641: 'water',
 642: 'nine',
 643: 'sent',
 644: 'vehicle',
 645: 'issues',
 646: 'americans',
 647: 'ukraine',
 648: 'residents',
 649: 'within',
 650: 'witnesses',
 651: 'ethnic',
 652: 'islands',
 653: 'policy',
 654: 'call',
 655: 'protesters',
 656: 'role',
 657: 'relief',
 658: 'already',
 659: '2010',
 660: 'sector',
 661: 'family',
 662: 'saddam',
 663: 'colombia',
 664: 'nigeria',
 665: 'strain',
 666: 'concerns',
 667: 'action',
 668: 'give',
 669: 'further',
 670: 'due',
 671: 'launched',
 672: 'taking',
 673: 'criticized',
 674: 'ministers',
 675: 'planned',
 676: 'strong',
 677: 'neighboring',
 678: 'arrest',
 679: 'judge',
 680: 'carrying',
 681: 'kashmir',
 682: 'ban',
 683: 'occurred',
 684: 'cooperation',
 685: '2002',
 686: 'heavy',
 687: 'movement',
 688: 'expressed',
 689: 'japanese',
 690: 'station',
 691: 'seized',
 692: 'woman',
 693: 'us',
 694: 'asked',
 695: 'senate',
 696: 'birds',
 697: '2006',
 698: 'missile',
 699: 'disease',
 700: 'went',
 701: 'charged',
 702: 'ms',
 703: 'civilian',
 704: 'making',
 705: 'muslims',
 706: 'begin',
 707: 'speaking',
 708: 'situation',
 709: '18',
 710: '2009',
 711: 'involved',
 712: 'king',
 713: 'homes',
 714: 'non',
 715: 'vice',
 716: 'cabinet',
 717: 'exports',
 718: 'backed',
 719: 'parties',
 720: 'issue',
 721: 'gdp',
 722: 'independent',
 723: 'ties',
 724: 'comments',
 725: '14',
 726: 'open',
 727: 'deputy',
 728: 'regional',
 729: 'april',
 730: 'come',
 731: 'experts',
 732: 'price',
 733: 'ambassador',
 734: 'blamed',
 735: 'medical',
 736: 'territory',
 737: 'trip',
 738: 'parts',
 739: 'tribal',
 740: 'supporters',
 741: 'commander',
 742: 'business',
 743: 'sides',
 744: 'per',
 745: 'camp',
 746: 'spain',
 747: 'arrived',
 748: 'provide',
 749: 'negotiations',
 750: 'ended',
 751: 'far',
 752: '2005',
 753: '17',
 754: 'egyptian',
 755: 'linked',
 756: 'leading',
 757: 'justice',
 758: 'uranium',
 759: 'candidate',
 760: 'allegations',
 761: 'believed',
 762: 'industry',
 763: 'land',
 764: 'current',
 765: 'radio',
 766: 'labor',
 767: 'go',
 768: 'aircraft',
 769: 'space',
 770: 'missing',
 771: 'activities',
 772: '200',
 773: 'religious',
 774: 'problems',
 775: 'want',
 776: 'details',
 777: 'natural',
 778: 'detainees',
 779: 'put',
 780: '9',
 781: '60',
 782: 'life',
 783: 'tsunami',
 784: 'joint',
 785: 'officer',
 786: 'exploded',
 787: 'continued',
 788: '16',
 789: 'private',
 790: 'bodies',
 791: 'supplies',
 792: 'seeking',
 793: '2007',
 794: 'times',
 795: 'abu',
 796: 'referendum',
 797: 'threatened',
 798: 'poor',
 799: 'outbreak',
 800: 'received',
 801: 'community',
 802: 'lead',
 803: 'services',
 804: 'dollars',
 805: 'sharon',
 806: 'travel',
 807: 'tried',
 808: 'get',
 809: 'seats',
 810: 'network',
 811: 'order',
 812: 'become',
 813: 'decades',
 814: 'withdrawal',
 815: 'round',
 816: 'became',
 817: 'wants',
 818: 'century',
 819: 'threat',
 820: 'ruled',
 821: 'terror',
 822: 'special',
 823: 'journalists',
 824: 'rule',
 825: 'suspect',
 826: 'america',
 827: 'fight',
 828: 'debt',
 829: 'alliance',
 830: 'kabul',
 831: 'atomic',
 832: 'level',
 833: 'immediately',
 834: 'candidates',
 835: 'toward',
 836: 'illegal',
 837: 'wanted',
 838: 'right',
 839: 'crude',
 840: 'annan',
 841: 'fled',
 842: 'need',
 843: 'exchange',
 844: 'form',
 845: 'forced',
 846: 'declared',
 847: 'terrorists',
 848: 'explosives',
 849: 'measures',
 850: 'similar',
 851: 'change',
 852: 'quotes',
 853: 'olympic',
 854: 'own',
 855: 'haiti',
 856: 'brazil',
 857: 'sudanese',
 858: 'few',
 859: 'interview',
 860: 'gulf',
 861: 'published',
 862: 'musharraf',
 863: 'warning',
 864: 'asian',
 865: 'taiwan',
 866: '500',
 867: 'attempt',
 868: 'refused',
 869: 'win',
 870: 'reached',
 871: 'dispute',
 872: 'arms',
 873: 'karzai',
 874: 'cross',
 875: 'elected',
 876: 'supreme',
 877: 'full',
 878: 'holding',
 879: 'body',
 880: 'ahmadinejad',
 881: 'seen',
 882: 'build',
 883: 'village',
 884: 'rate',
 885: 'senator',
 886: 'kandahar',
 887: 'tax',
 888: 'offensive',
 889: 're',
 890: 'fatah',
 891: '80',
 892: 'added',
 893: 'continues',
 894: 'like',
 895: 'wounding',
 896: 'growing',
 897: 'mostly',
 898: 'activists',
 899: 'proposed',
 900: 'almost',
 901: 'toll',
 902: 'citizens',
 903: 'bombs',
 904: 'concern',
 905: 'investment',
 906: 'construction',
 907: 'broke',
 908: 'sri',
 909: 'yet',
 910: 'earthquake',
 911: 'cities',
 912: 'total',
 913: 'returned',
 914: 'interior',
 915: 'likely',
 916: 'address',
 917: 'convoy',
 918: 'ali',
 919: 'response',
 920: 'low',
 921: 'associated',
 922: 'clashes',
 923: 'insurgent',
 924: 'hugo',
 925: 'currently',
 926: 'proposal',
 927: 'pressure',
 928: 'reforms',
 929: 'somali',
 930: 'school',
 931: 'soon',
 932: 'rocket',
 933: 'millions',
 934: 'evidence',
 935: 'authority',
 936: 'reform',
 937: 'prevent',
 938: 'again',
 939: 'katrina',
 940: 'patrol',
 941: 'hezbollah',
 942: 'assassination',
 943: 'himself',
 944: 'less',
 945: 'activity',
 946: '26',
 947: 'spanish',
 948: 'sea',
 949: 'annual',
 950: 'passed',
 951: 'violent',
 952: 'hussein',
 953: 'charge',
 954: 'bring',
 955: 'ousted',
 956: 'fell',
 957: 'using',
 958: 'probe',
 959: 'needed',
 960: 'population',
 961: 'front',
 962: 'voted',
 963: 'putin',
 964: 'jewish',
 965: 'peacekeepers',
 966: 'italy',
 967: 'australia',
 968: 'niger',
 969: 'important',
 970: 'good',
 971: 'living',
 972: 'keep',
 973: 'prosecutors',
 974: 'announcement',
 975: 'massive',
 976: 'spending',
 977: 'demonstrators',
 978: 'social',
 979: 'assembly',
 980: 'governor',
 981: 'peacekeeping',
 982: 'facilities',
 983: 'kill',
 984: 'allowed',
 985: 'fraud',
 986: 'road',
 987: 'given',
 988: 'interim',
 989: 'dozens',
 990: 'leave',
 991: 'borders',
 992: 'pyongyang',
 993: 'communist',
 994: 'detention',
 995: '70',
 996: 'video',
 997: 'away',
 998: 'assistance',
 999: 'tens',
 1000: 'governments',
 ...}

In [ ]:
X = tokenizer.texts_to_sequences(sequences_)

In [ ]:
len(X), len(X[0]), X[0][:10], len(X[1]), len(X[10])

(47959, 23, [262, 3, 977, 13, 1958, 248, 428, 4, 523, 1], 24, 11)

In [ ]:
X = pad_sequences(X, sent_len)

In [ ]:
X.shape

(47959, 20)

In [ ]:
X[0][:15], X[1][:25]

(array([  13, 1958,  248,  428,    4,  523,    1,  122,    2,   59,    6,
         603,    1,  814,    3], dtype=int32),
 array([   2,    1,  482, 1157,    1,  655,   53,  573,   15,  308, 2743,
          25,  119,  279,   57,  331,    6,  400,    1,  498], dtype=int32))

In [ ]:
tags = [' '.join(tag) for tag in tags]

In [ ]:
len(tags), len(tags[0]), tags[0][:10], len(tags[1])

(47959, 59, 'O O O O O ', 63)

In [ ]:
tag_tokenizer = Tokenizer(df.tag.nunique(), filters=' ')

In [ ]:
tag_tokenizer.fit_on_texts(tags)

In [ ]:
tag_tokenizer.index_word

{1: 'o',
 2: 'b-geo',
 3: 'b-tim',
 4: 'b-org',
 5: 'i-per',
 6: 'b-per',
 7: 'i-org',
 8: 'b-gpe',
 9: 'i-geo',
 10: 'i-tim',
 11: 'b-art',
 12: 'b-eve',
 13: 'i-eve',
 14: 'i-art',
 15: 'b-nat',
 16: 'i-gpe',
 17: 'i-nat'}

In [ ]:
Y = tag_tokenizer.texts_to_sequences(tags)
Y = pad_sequences(Y, sent_len, value=1)

In [ ]:
Y.shape

(47959, 20)

In [ ]:
Y = to_categorical(Y, df.tag.nunique()+1)

In [ ]:
Y.shape

(47959, 20, 18)

In [ ]:
Y = Y[:, :, 1:]
Y.shape

(47959, 20, 17)

In [ ]:
df.tag.nunique()

17

In [ ]:
!pip install tf2crf

Collecting tf2crf
  Downloading tf2crf-0.1.32-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: tensorflow>=2.1.0 in /usr/local/lib/python3.7/dist-packages (from tf2crf) (2.6.0)
Collecting tensorflow-addons>=0.8.2
  Downloading tensorflow_addons-0.14.0-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.1 MB)
     || 1.1 MB 6.7 MB/s
Requirement already satisfied: h5py~=3.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.1.0->tf2crf) (3.1.0)
Requirement already satisfied: wheel~=0.35 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.1.0->tf2crf) (0.37.0)
Requirement already satisfied: tensorflow-estimator~=2.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.1.0->tf2crf) (2.6.0)
Requirement already satisfied: flatbuffers~=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.1.0->tf2crf) (1.12)
Requirement already satisfied: opt-einsum~=3.3.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.1.0->tf2crf) (3.3.0)
Requirement already satisfied: protobuf>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.1.0->tf2crf) (3.17.3)
Requirement already satisfied: six~=1.15.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.1.0->tf2crf) (1.15.0)
Requirement already satisfied: astunparse~=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.1.0->tf2crf) (1.6.3)
Requirement already satisfied: wrapt~=1.12.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.1.0->tf2crf) (1.12.1)
Requirement already satisfied: numpy~=1.19.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.1.0->tf2crf) (1.19.5)
Requirement already satisfied: keras-preprocessing~=1.1.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.1.0->tf2crf) (1.1.2)
Requirement already satisfied: gast==0.4.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.1.0->tf2crf) (0.4.0)
Requirement already satisfied: clang~=5.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.1.0->tf2crf) (5.0)
Requirement already satisfied: grpcio<2.0,>=1.37.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.1.0->tf2crf) (1.39.0)
Requirement already satisfied: google-pasta~=0.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.1.0->tf2crf) (0.2.0)
Requirement already satisfied: absl-py~=0.10 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.1.0->tf2crf) (0.12.0)
Requirement already satisfied: typing-extensions~=3.7.4 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.1.0->tf2crf) (3.7.4.3)
Requirement already satisfied: keras~=2.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.1.0->tf2crf) (2.6.0)
Requirement already satisfied: tensorboard~=2.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.1.0->tf2crf) (2.6.0)
Requirement already satisfied: termcolor~=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow>=2.1.0->tf2crf) (1.1.0)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py~=3.1.0->tensorflow>=2.1.0->tf2crf) (1.5.2)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow>=2.1.0->tf2crf) (0.4.5)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow>=2.1.0->tf2crf) (2.23.0)
Requirement already satisfied: google-auth<2,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow>=2.1.0->tf2crf) (1.34.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow>=2.1.0->tf2crf) (3.3.4)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow>=2.1.0->tf2crf) (1.0.1)
Requirement already satisfied: setuptools>=41.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow>=2.1.0->tf2crf) (57.4.0)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow>=2.1.0->tf2crf) (0.6.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow>=2.1.0->tf2crf) (1.8.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard~=2.6->tensorflow>=2.1.0->tf2crf) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard~=2.6->tensorflow>=2.1.0->tf2crf) (4.2.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard~=2.6->tensorflow>=2.1.0->tf2crf) (4.7.2)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.6->tensorflow>=2.1.0->tf2crf) (1.3.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard~=2.6->tensorflow>=2.1.0->tf2crf) (4.6.4)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<2,>=1.6.3->tensorboard~=2.6->tensorflow>=2.1.0->tf2crf) (0.4.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow>=2.1.0->tf2crf) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow>=2.1.0->tf2crf) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow>=2.1.0->tf2crf) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow>=2.1.0->tf2crf) (3.0.4)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.6->tensorflow>=2.1.0->tf2crf) (3.1.1)
Requirement already satisfied: typeguard>=2.7 in /usr/local/lib/python3.7/dist-packages (from tensorflow-addons>=0.8.2->tf2crf) (2.7.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->markdown>=2.6.8->tensorboard~=2.6->tensorflow>=2.1.0->tf2crf) (3.5.0)
Installing collected packages: tensorflow-addons, tf2crf
Successfully installed tensorflow-addons-0.14.0 tf2crf-0.1.32

In [ ]:
Y = tag_tokenizer.texts_to_sequences(tags)
Y = pad_sequences(Y, sent_len, value=1)
#  AssertionError

In [ ]:
from tf2crf import CRF, ModelWithCRFLoss
# https://github.com/xuxingya/tf2crf
emb_size = 200

input = Input(shape=(None,))
x = Embedding(num_words, emb_size)(input)

x = Bidirectional(LSTM(emb_size, return_sequences=True))(x)
x = LSTM(emb_size * 2, return_sequences=True)(x)
x = Dense(df.tag.nunique(), activation='softmax')(x) #    (  )
#x = Dense(df.tag.nunique(), activation=None)(x) #  activation=None     

crf = CRF()
output = crf(x)
base_model = Model(input, output)
model = ModelWithCRFLoss(base_model, sparse_target=True)

/usr/local/lib/python3.7/dist-packages/tensorflow/python/autograph/impl/api.py:376: UserWarning: CRF decoding models have serialization issues in TF >=2.5 . Please see isse #2476
  return py_builtins.overload_of(f)(*args)

In [ ]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
model.fit(X, Y, validation_split=0.2, epochs=1)

/usr/local/lib/python3.7/dist-packages/tensorflow/python/autograph/impl/api.py:376: UserWarning: CRF decoding models have serialization issues in TF >=2.5 . Please see isse #2476
  return py_builtins.overload_of(f)(*args)

1199/1199 [==============================] - 82s 64ms/step - loss: 22.1870 - accuracy: 0.9140 - val_loss_val: 13.2414 - val_val_accuracy: 0.8769

In [ ]:
model.save_weights(prefix +'ner.h5')

In [ ]:
print(X.shape, Y.shape)
id = np.random.randint(X.shape[0])
id2 = np.random.randint(20)
pred = model.predict([X[id]])
print(f"id = {id}, id2 = {id2}", pred.shape)
print( pred[id2], "\n", np.argmax(pred[id2][0]), "\n", Y[id][id2], "\n", np.argmax(Y[id][id2]))
print(tag_tokenizer.index_word[np.argmax(Y[id][id2])+1])
#print("\n", pred.shape, pred[0], np.argmax(pred[0][0]), Y[0][0], np.argmax(Y[0][0]), tag_tokenizer.index_word[np.argmax(Y[0][0])+1])

(47959, 20) (47959, 20, 17)
id = 19893, id2 = 3 (20, 1, 17)
[[0.20714018 0.07560933 0.04837987 0.0857718  0.05511244 0.0757753
  0.05702627 0.0784815  0.04601973 0.03348988 0.03890512 0.03319428
  0.0306735  0.0370234  0.03487116 0.03378156 0.02874463]]
 0
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 0
o

In [ ]:
print(sequences[0])
print(tags[0])

['Thousands', 'of', 'demonstrators', 'have', 'marched', 'through', 'London', 'to', 'protest', 'the', 'war', 'in', 'Iraq', 'and', 'demand', 'the', 'withdrawal', 'of', 'British', 'troops', 'from', 'that', 'country', '.']
O O O O O O B-geo O O O O O B-geo O O O O O B-gpe O O O O O

In [ ]:
# ..   ""    
id = 0
id2 = 8
pred = model.predict([X[id]])
print(f"id = {id}, id2 = {id2}", pred.shape)
print( pred[id2], "\n", np.argmax(pred[id2][0]), "\n", Y[id][id2], "\n", np.argmax(Y[id][id2]))
print(tag_tokenizer.index_word[np.argmax(Y[id][id2])+1])

id = 0, id2 = 8 (20, 1, 17)
[[0.22080643 0.23151492 0.06128117 0.07524778 0.02671159 0.03420546
  0.03686262 0.05845764 0.08217815 0.03200787 0.0204308  0.02035932
  0.02131826 0.01838454 0.01949503 0.02250039 0.01823807]]
 1
 [0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 1
b-geo